/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #291717;
  border-color: #ffffff;
  
}
